.input-w{
  width: 200px;
}

.thead-dark{
  background-color: black;
  color: white;
}

.widthImg{
  width: 50px;
  margin: 2px;
}

button[title]:hover::before {
  content: attr(title);
  position: absolute;
  top: -30px; /* ajuste aqui a posição vertical do tooltip */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: rgb(218, 241, 162);
  color: rgb(8, 8, 8);
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}
.iconlg{
  margin: left 10px;
  font: size 48px;
}

.marg-icon{
  margin-right: 2px;
}

.table-hover tbody tr:hover td {
  background-color: #78c2fa;
}
