<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de usuário</h1>
      <a href="https://storyset.com/phone">
        <img src="../../../assets/images/Mobile login-pana.png" alt="Phone illustrations by Storyset" class="my-4" width="400px">
      </a>
    </div>
  </div>

  <div class="col-md-6">

    <form class="p-1"[formGroup]="form">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Primeiro nome</label>
          <input type="text" class="form-control" placeholder="Insira o primeiro nome" formControlName="primeiroNome"
                [ngClass]="{
                  'is-invalid': f.primeiroNome?.errors && f.primeiroNome?.touched,
                  'is-valid': f.primeiroNome?.valid && f.primeiroNome?.touched
                }">
          <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">Primeiro nome é obrigatório</div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control" placeholder="Insira o último nome" formControlName="ultimoNome"
                [ngClass]="{
                  'is-invalid': f.ultimoNome?.errors && f.ultimoNome?.touched,
                  'is-valid': f.ultimoNome?.valid && f.ultimoNome?.touched
                }">
        <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">Último nome é obrigatório</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input type="text" class="form-control" placeholder="Insira seu email" formControlName="email"
              [ngClass]="{
                'is-invalid': f.email?.errors && f.email?.touched,
                'is-valid': f.email?.valid && f.email?.touched
              }">
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">E-mail é obrigatório</div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">E-mail incorreto</div>
      </div>
      <div class="form-group">
        <label for="">Usuário</label>
        <input type="text" class="form-control" placeholder="Insira nome de usuário" formControlName="usuario"
              [ngClass]="{
                'is-invalid': f.usuario?.errors && f.usuario?.touched,
                'is-valid': f.usuario?.valid && f.usuario?.touched
              }">
        <div *ngIf="f.usuario.errors?.required" class="invalid-feedback">Usuário é obrigatório</div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input type="password" class="form-control" placeholder="Digite uma senha" formControlName="senha"
                [ngClass]="{
                  'is-invalid': f.senha?.errors && f.senha?.touched,
                  'is-valid': f.senha?.valid && f.senha?.touched
                }">
        <div *ngIf="f.senha.errors?.required" class="invalid-feedback">Senha é obrigatório</div>
        <div *ngIf="f.senha.errors?.minlength && f.senha.touched" class="invalid-feedback">Deve conter no mínimo 6 caracteres</div>
      </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar senha:</label>
          <input type="password" class="form-control" placeholder="Confiirme sua senha" formControlName="confirmeSenha"
                [ngClass]="{
                  'is-invalid': f.confirmeSenha?.errors && f.confirmeSenha?.touched,
                  'is-valid': f.confirmeSenha?.valid && f.confirmeSenha?.touched
                }">
          <div *ngIf="f.confirmeSenha.errors?.mustMatch" class="invalid-feedback">Senhas estão diferentes</div>
        </div>
      </div>
      <div class="row p-1 mb-6">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input me-2" id="customCheck1" formControlName="concordarTermos"
          [ngClass]="{
            'is-invalid': f.concordarTermos?.errors && f.concordarTermos?.touched,
            'is-valid': f.concordarTermos?.valid && f.concordarTermos?.touched
          }">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de uso</a>.</label>
          <div *ngIf="f.concordarTermos.errors?.requiredTrue && f.concordarTermos.touched" class="invalid-feedback">
            Você precisa concordar com os termos para continuar</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5 w-100">
            Registrar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12 text-center">
          <button class="btn btn-link btn-block" [routerLink]="['/user/login']">
            Já sou cadastrado
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
