<app-titulo [titulo] = "'Perfil'"
            [iconClass]="'fa-solid fa-user'">
</app-titulo>

<div class="card rounded shadow-sm mb-3">
  <form [formGroup]="form">
    <div  class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img src="https://img.freepik.com/fotos-gratis/homem-cacheado-com-sorriso-largo-mostra-dentes-perfeitos-se-diverte-com-uma-conversa-interessante-tem-cabelos-escuros-e-crespos-e-crespos-contra-uma-parede-branca_273609-17092.jpg?size=626&ext=jpg&uid=R80647420&ga=GA1.2.1866904863.1679182799&semt=sph" alt="Pessoa" name="aboutme" width="120px" height="120px" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 texte-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome: </b> Miracles Lee Cros</div>
            <div class="h7">
              Developer of web application, JavaScript, PHP, Java, Paython, Ruby, Node.js e Angular
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1234</div>
                  <div class="h6 text-muted">Eventos ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1234</div>
                  <div class="h6 text-muted">Eventos participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe do perfil</h3>
          </div>
          <div class="form-group col">
            <label>Título</label>
            <select class="form-select" formControlName="titulo"
              [ngClass]="{
                'is-invalid': f.titulo?.errors && f.titulo?.touched,
                'is-valid': f.titulo?.valid && f.titulo?.touched
              }">
              <option value=""></option>
              <option value="0">Não quero</option>
              <option value="Senhorita">Tecnólogo(a)</option>
              <option value="Senhorita">Bacharel</option>
              <option value="Senhorita">Especialista</option>
              <option value="Senhorita">Pós Graduado(a)</option>
              <option value="Senhorita">Mestre</option>
              <option value="Senhorita">Doutor(a)</option>
              <option value="Senhorita">Pós Doc</option>
            </select>
            <div *ngIf="f.titulo.errors?.required" class="invalid-feedback">Título é obrigatório</div>
          </div>
          <div class="form-group col-sm-5">
            <label>Primeiro nome</label>
            <input type="text" class="form-control" formControlName="primeiroNome"
                  [ngClass]="{
                    'is-invalid': f.primeiroNome?.errors && f.primeiroNome?.touched,
                    'is-valid': f.primeiroNome?.valid && f.primeiroNome?.touched
                  }">
            <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">Primeiro nome é obrigatório</div>
          </div>
          <div class="form-group col-sm-5">
            <label>Último nome</label>
            <input type="text" class="form-control" formControlName="ultimoNome"
                  [ngClass]="{
                    'is-invalid': f.ultimoNome?.errors && f.ultimoNome?.touched,
                    'is-valid': f.ultimoNome?.valid && f.ultimoNome?.touched
                  }">
            <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">Último nome é obrigatório</div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="email"
                  [ngClass]="{
                    'is-invalid': f.email?.errors && f.email?.touched,
                    'is-valid': f.email?.valid && f.email?.touched
                  }">
            <div *ngIf="f.email.errors?.required" class="invalid-feedback">E-mail é obrigatório</div>
            <div *ngIf="f.email.errors?.email" class="invalid-feedback">E-mail incorreto</div>
          </div>
          <div class="form-group col-sm-4">
            <label>Telefone</label>
            <input type="text" class="form-control" formControlName="telefone"
                  [ngClass]="{
                    'is-invalid': f.telefone?.errors && f.telefone?.touched,
                    'is-valid': f.telefone?.valid && f.telefone?.touched
                  }">
            <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">Telefone é obrigatório</div>
          </div>
          <div class="form-group col-sm">
            <label>Função</label>
            <select class="form-select" formControlName="funcao"
                    [ngClass]="{
                      'is-invalid': f.funcao?.errors && f.funcao?.touched,
                      'is-valid': f.funcao?.valid && f.funcao?.touched
                    }">
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
            <div *ngIf="f.funcao.errors?.required" class="invalid-feedback">Função é obrigatória</div>
          </div>
          <form-group class="col-12">
            <label>Descrição</label>
            <input type="text" class="form-control" formControlName="descricao"
                  [ngClass]="{
                    'is-invalid': f.descricao?.errors && f.descricao?.touched,
                    'is-valid': f.descricao?.valid && f.descricao?.touched
                  }">
            <div *ngIf="f.descricao.errors?.required" class="invalid-feedback">Descrição é obrigatória</div>
            <div *ngIf="f.descricao.errors?.minlength && f.descricao.touched" class="invalid-feedback">
              Deve conter no mínimo 50 caracteres</div>
            <div *ngIf="f.descricao.errors?.maxlength && f.descricao.touched" class="invalid-feedback">
              Deve conter no máximo 80 caracteres</div>
          </form-group>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="row">
          <div class="form-group col-sm">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="senha"
                  [ngClass]="{
                    'is-invalid': f.senha?.errors && f.senha?.touched,
                    'is-valid': f.senha?.valid && f.senha?.touched
                  }">
            <div *ngIf="f.senha.errors?.required" class="invalid-feedback">Senha é obrigatório</div>
            <div *ngIf="f.senha.errors?.minlength && f.senha.touched" class="invalid-feedback">
              Deve conter no mínimo 6 caracteres</div>
          </div>
          <div class="form-group col-sm">
            <label>Confirmar Senha</label>
            <input type="password" class="form-control" formControlName="confirmeSenha"
                  [ngClass]="{
                    'is-invalid': f.confirmeSenha?.errors && f.confirmeSenha?.touched,
                    'is-valid': f.confirmeSenha?.valid && f.confirmeSenha?.touched
                  }">
            <div *ngIf="f.confirmeSenha.errors?.required" class="invalid-feedback">Confirmar Senha é obrigatório</div>
            <div *ngIf="f.confirmeSenha.errors?.mustMatch" class="invalid-feedback">Senhas estão diferentes</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-secondary border me-auto" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm me-1"></span> -->
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
